@font-face {
    font-family: 'inter';
    font-weight: 400;
    src: url('/Fonts/Inter18pt-Regular.woff2')format('woff2');
    src: url('/Fonts/Inter18pt-Regular.woff')format('woff');

}
@font-face {
    font-family: 'inter';
    font-weight: 700;
    src: url('/Fonts/Inter24pt-Bold.woff2')format('woff2');
    src: url('/Fonts/Inter24pt-Bold.woff')format('woff');

}
@font-face {
    font-family: 'inter';
    font-weight: 100;
    src: url('/Fonts/Inter18pt-Thin.woff2')format('woff2');
    src: url('/Fonts/Inter18pt-Thin.woff')format('woff');

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
    padding: none;
    margin: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}
body {
    min-height: 98vh;
    background-color: #c5e4e7 ;
    color: #416667;
    display: grid;
    justify-content: center;
    grid-template-rows: 1.25fr 2fr 1fr;
    font-family: 'inter' , sans-serif , Arial;
    line-height: 1.5;
}
header {
    align-self: end;
    text-align: center;
    font-weight: 400;
}
input {
    border: none;
    background-color: #f3f8fb;
    color: #416667;
    transition: 30ms;
}
input::placeholder {
    color: #a3b7b7;
}
.main-inputs {
    text-align: end;
    width: 100%;
    height: 30%;
    border-radius: 5px;
    font-size: 2rem;
}
main {
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(48%,1fr));
    gap: 2rem;
    align-items: center;
    max-width: 100vw;
    width: 50rem;
}
button {
    background-color: #00474b;
    border-radius: 10px;
    border: none;
    color: #f5fffe;
    transition-duration: 250ms;
    padding: 0.25rem;
    align-self: flex-start;
    min-height: 2rem;
}
#Custom-percentage {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    height: 100%;
}
#selection-grid {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(30%,1fr));
    gap: 0.5rem;
    height: 60%;
}

section {
    padding: 15px;
}
#reset{
    height: 15%;
}
#reset-button {
    background-color: #08686d;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    color: #578689;
    font-weight: 700;
}
#outputs {
    background-color: #00474b;
    color: #f5fffe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2rem;
    min-height: 20rem;
}
.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#results {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:1rem;
}
.per-person {
    font-size: 1rem;
    font-weight: 400;
    color: #578689;
}

.inputs {
    height: 33%;
    padding: none;
    margin: none;
    position: relative;
    color: #869492;
}
.label {
    font-size: 1.5rem;
}
#tip-selection {
    margin:3rem 0;
}
.cost {
    font-size: 2rem;
    color: #22baa5;
}
.input-icon {
    position: absolute;
    color: #a3b7b7;
    margin-top: 10px;
    margin-left: 5px;
    font-style: none;
    font-size: 1rem;
    font-weight: 200;
}
button:hover , #reset-button:hover {
    cursor: pointer;
    background-color: #9febdf;
    color: #00474b;
}

button:active {
    transform: scale(0.95);
}
input:focus {
    outline: 3px solid #bcf2ee;
    color: #00474b;
}
input:hover {
    cursor: pointer;
}
footer {
    text-align: center;
    align-self: flex-end;
    font-size: 2rem;
}
.github {
    cursor: pointer;
}
#selection-grid input::placeholder {
    color: #627c7b;
}
#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*styling error elelment when it's not empty*/
.error {
    color: red;
    font-size: 0.75rem;
    font-weight: 500;
    align-self: flex-end;
}